.title{
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: white;
  }
.button{
    padding: 5px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
@media only screen and (max-width:600px){
  .header{
      padding-top: 30px;
  }
}